<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Apppenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
<!-- 		Other appenters like File and JDBC can be added here -->
	</Apppenders>
	<Loggers>
		<Root level="DEBUG" aditivity="false">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>